In [40]:
#PURE PYTHON!!!!
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import os
import re

In [16]:
path = %pwd
path += '/fifa-18-demo-player-dataset/CompleteDataset.csv'½

In [209]:
def clean_raw_data(path=None):
    """
    Denne metode fjerner uønskede kolonner samt indsætter 0 på målmændendes ikke-målmænd attributter
    @input: path: sti til hvor data ligger
    """
    raw_data = (pd
                .DataFrame
                .from_csv(
                    path=path,
                    encoding='utf-8',
                    index_col='ID'
                ))
    del raw_data['Club Logo']
    del raw_data['Photo']
    del raw_data['Flag']
    del raw_data['Unnamed: 0']
    raw_data = convert_object_col_to_float(
        raw_data.fillna(0))
    return raw_data

In [210]:
def convert_object_col_to_float(pdf):
    """
    
    """
    
    remove_funny_stuff = lambda x: float(re.sub('\W\d+','',x))
    for col in pdf.columns[9:43]: # Vi snyder, for vi ved godt at fejlene ligger i disse kolonner...
        try:
            if pdf.dtypes[col] == np.object:
                pdf[col] = pdf[col].map(str)
                pdf[col] = pdf[col].map(remove_funny_stuff)
        except Exception as e:
            print(col+" "+str(e))
            break
    return pdf

In [213]:
df = clean_raw_data(path)

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2847: DtypeWarning: Columns (23,35) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [214]:
df

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Acceleration,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
ID,,,,,,,,,,,,,,,,,,,,,
20801,Cristiano Ronaldo,32,Portugal,94,94,Real Madrid CF,€95.5M,€565K,2228,89.0,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
158023,L. Messi,30,Argentina,93,93,FC Barcelona,€105M,€565K,2154,92.0,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
190871,Neymar,25,Brazil,92,94,Paris Saint-Germain,€123M,€280K,2100,94.0,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
176580,L. Suárez,30,Uruguay,92,92,FC Barcelona,€97M,€510K,2291,88.0,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
167495,M. Neuer,31,Germany,92,92,FC Bayern Munich,€61M,€230K,1493,58.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
188545,R. Lewandowski,28,Poland,91,91,FC Bayern Munich,€92M,€355K,2143,79.0,...,58.0,57.0,78.0,62.0,87.0,82.0,88.0,84.0,61.0,88.0
193080,De Gea,26,Spain,90,92,Manchester United,€64.5M,€215K,1458,57.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
183277,E. Hazard,26,Belgium,90,91,Chelsea,€90.5M,€295K,2096,93.0,...,59.0,47.0,81.0,61.0,87.0,87.0,82.0,88.0,64.0,82.0
182521,T. Kroos,27,Germany,90,90,Real Madrid CF,€79M,€340K,2165,60.0,...,76.0,72.0,87.0,82.0,81.0,81.0,77.0,80.0,78.0,77.0
167664,G. Higuaín,29,Argentina,90,90,Juventus,€77M,€275K,1961,78.0,...,51.0,46.0,71.0,52.0,84.0,79.0,87.0,82.0,55.0,87.0
155862,Sergio Ramos,31,Spain,90,90,Real Madrid CF,€52M,€310K,2153,75.0,...,84.0,87.0,74.0,83.0,70.0,71.0,72.0,69.0,81.0,72.0
192985,K. De Bruyne,26,Belgium,89,92,Manchester City,€83M,€285K,2162,76.0,...,66.0,57.0,84.0,70.0,85.0,85.0,81.0,85.0,71.0,81.0
192119,T. Courtois,25,Belgium,89,92,Chelsea,€59M,€190K,1282,46.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
184941,A. Sánchez,28,Chile,89,89,Arsenal,€67.5M,€265K,2181,88.0,...,62.0,56.0,79.0,64.0,85.0,85.0,83.0,86.0,66.0,83.0
177003,L. Modrić,31,Croatia,89,89,Real Madrid CF,€57M,€340K,2228,75.0,...,78.0,72.0,86.0,80.0,83.0,84.0,76.0,83.0,80.0,76.0
173731,G. Bale,27,Wales,89,89,Real Madrid CF,€69.5M,€370K,2263,93.0,...,72.0,67.0,81.0,71.0,87.0,87.0,87.0,87.0,74.0,87.0
153079,S. Agüero,29,Argentina,89,89,Manchester City,€66.5M,€325K,2074,90.0,...,52.0,44.0,75.0,54.0,87.0,84.0,86.0,86.0,57.0,86.0
138956,G. Chiellini,32,Italy,89,89,Juventus,€38M,€225K,1867,68.0,...,78.0,86.0,60.0,76.0,55.0,58.0,59.0,56.0,75.0,59.0
1179,G. Buffon,39,Italy,89,89,Juventus,€4.5M,€110K,1335,49.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
211110,P. Dybala,23,Argentina,88,93,Juventus,€79M,€215K,2063,88.0,...,55.0,43.0,78.0,55.0,86.0,86.0,83.0,87.0,60.0,83.0
200389,J. Oblak,24,Slovenia,88,93,Atlético Madrid,€57M,€82K,1290,43.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
194765,A. Griezmann,26,France,88,91,Atlético Madrid,€75M,€150K,2104,87.0,...,56.0,48.0,76.0,57.0,85.0,84.0,85.0,86.0,60.0,85.0
189509,Thiago,26,Spain,88,90,FC Bayern Munich,€70.5M,€225K,2185,77.0,...,72.0,66.0,85.0,76.0,83.0,83.0,77.0,83.0,75.0,77.0
188567,P. Aubameyang,28,Gabon,88,88,Borussia Dortmund,€61M,€165K,2078,95.0,...,62.0,52.0,74.0,59.0,84.0,83.0,85.0,84.0,65.0,85.0
184344,L. Bonucci,30,Italy,88,88,Milan,€44M,€210K,1995,62.0,...,79.0,86.0,75.0,83.0,66.0,66.0,65.0,63.0,76.0,65.0
183907,J. Boateng,28,Germany,88,88,FC Bayern Munich,€48M,€215K,1989,72.0,...,81.0,85.0,73.0,82.0,66.0,69.0,65.0,65.0,79.0,65.0
182493,D. Godín,31,Uruguay,88,88,Atlético Madrid,€40M,€125K,1930,62.0,...,79.0,86.0,69.0,80.0,62.0,63.0,64.0,61.0,76.0,64.0
178603,M. Hummels,28,Germany,88,88,FC Bayern Munich,€48M,€215K,2038,62.0,...,80.0,85.0,77.0,83.0,69.0,70.0,69.0,68.0,78.0,69.0
176635,M. Özil,28,Germany,88,88,Arsenal,€60M,€265K,1927,75.0,...,52.0,41.0,79.0,57.0,82.0,83.0,76.0,83.0,58.0,76.0
167948,H. Lloris,30,France,88,88,Tottenham Hotspur,€38M,€165K,1318,65.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221669,M. Hurst,21,Scotland,48,58,St. Johnstone FC,€40K,€1K,991,40.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
239079,A. Osmanoski,17,FYR Macedonia,48,68,SpVgg Unterhaching,€60K,€1K,1377,68.0,...,47.0,46.0,47.0,47.0,47.0,48.0,46.0,47.0,47.0,46.0
238833,K. Cotter,18,England,48,67,Luton Town,€60K,€1K,1329,67.0,...,47.0,44.0,47.0,46.0,45.0,48.0,44.0,46.0,48.0,44.0
225778,T. Robinson,19,England,48,64,Bradford City,€60K,€1K,1257,69.0,...,37.0,32.0,41.0,35.0,45.0,47.0,45.0,47.0,39.0,45.0
231928,R. Hughes,18,Scotland,48,63,Hamilton Academical FC,€60K,€1K,1330,59.0,...,47.0,48.0,47.0,48.0,46.0,47.0,44.0,46.0,47.0,44.0
240381,Z. Mohammed,17,England,48,64,Accrington Stanley,€50K,€1K,1167,62.0,...,44.0,47.0,33.0,41.0,32.0,34.0,34.0,33.0,42.0,34.0
236807,D. Peppard,17,Republic of Ireland,47,61,Bohemian FC,€50K,€1K,1199,56.0,...,46.0,45.0,41.0,45.0,39.0,42.0,37.0,40.0,46.0,37.0
237859,C. Rogers,17,Republic of Ireland,47,59,Bray Wanderers,€40K,€1K,1189,60.0,...,46.0,47.0,36.0,43.0,35.0,37.0,37.0,35.0,44.0,37.0
225319,N. McLaughlin,18,Scotland,47,64,Partick Thistle F.C.,€60K,€1K,1330,69.0,...,43.0,40.0,46.0,44.0,47.0,48.0,46.0,47.0,44.0,46.0
236597,L. Kiely,18,Republic of Ireland,47,69,Shamrock Rovers,€70K,€1K,1290,43.0,...,41.0,41.0,45.0,43.0,44.0,45.0,42.0,44.0,41.0,42.0
233047,J. Latibeaudiere,17,England,47,73,Manchester City,€60K,€5K,1132,57.0,...,45.0,46.0,35.0,42.0,32.0,35.0,32.0,32.0,43.0,32.0
236425,J. Payne,18,England,47,63,Barnet,€50K,€1K,1219,65.0,...,46.0,46.0,35.0,40.0,36.0,39.0,36.0,38.0,45.0,36.0
238217,G. Manley,19,Republic of Ireland,47,58,Cork City,€50K,€1K,1298,57.0,...,46.0,48.0,46.0,48.0,42.0,44.0,41.0,42.0,46.0,41.0
238985,P. Phillips,18,Republic of Ireland,47,67,Cork City,€60K,€1K,1297,56.0,...,47.0,48.0,46.0,48.0,43.0,44.0,41.0,42.0,46.0,41.0
238219,A. Byrne,18,Republic of Ireland,47,61,Cork City,€60K,€1K,1346,58.0,...,46.0,43.0,46.0,46.0,46.0,47.0,44.0,45.0,46.0,44.0
238477,K. Fujikawa,18,Japan,47,67,Júbilo Iwata,€60K,€1K,1317,59.0,...,46.0,47.0,46.0,47.0,43.0,45.0,40.0,44.0,46.0,40.0
231824,K. Egan,19,England,47,67,Exeter City,€60K,€1K,1225,63.0,...,46.0,46.0,37.0,41.0,38.0,42.0,37.0,42.0,46.0,37.0
237974,T. Brownsword,17,England,47,68,Morecambe,€60K,€1K,1143,55.0,...,45.0,46.0,32.0,40.0,32.0,34.0,33.0,32.0,43.0,33.0
236954,F. Prohart,18,Austria,47,67,Wolfsberger AC,€60K,€1K,1238,62.0,...,33.0,27.0,41.0,31.0,48.0,47.0,46.0,49.0,35.0,46.0
231107,A. Kilgour,19,England,47,56,Bristol Rovers,€40K,€1K,1208,52.0,...,43.0,46.0,38.0,43.0,37.0,38.0,38.0,37.0,42.0,38.0
240325,R. White,18,England,47,65,Bolton Wanderers,€60K,€2K,1265,51.0,...,33.0,32.0,42.0,33.0,49.0,46.0,52.0,47.0,34.0,52.0
238306,A. Conway,19,Republic of Ireland,47,63,Galway United,€60K,€1K,1314,60.0,...,46.0,45.0,41.0,43.0,42.0,44.0,42.0,44.0,46.0,42.0
240403,T. Sawyer,18,England,46,58,Grimsby Town,€50K,€1K,1267,65.0,...,45.0,42.0,45.0,43.0,46.0,47.0,45.0,47.0,46.0,45.0
240404,J. Keeble,18,England,46,56,Grimsby Town,€40K,€1K,1105,66.0,...,46.0,45.0,34.0,41.0,33.0,35.0,33.0,34.0,44.0,33.0
235352,T. Käßemodel,28,Germany,46,46,FC Erzgebirge Aue,€30K,€1K,1174,25.0,...,37.0,38.0,45.0,42.0,42.0,42.0,41.0,41.0,38.0,41.0
237463,A. Kelsey,17,England,46,63,Scunthorpe United,€50K,€1K,755,24.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11728,B. Richardson,47,England,46,46,Wycombe Wanderers,€0,€1K,832,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
231381,J. Young,17,Scotland,46,61,Swindon Town,€60K,€1K,1194,66.0,...,31.0,28.0,38.0,29.0,45.0,42.0,45.0,44.0,32.0,45.0
238813,J. Lundstram,18,England,46,64,Crewe Alexandra,€60K,€1K,1302,57.0,...,47.0,46.0,45.0,47.0,43.0,45.0,41.0,44.0,46.0,41.0
238308,L. Sackey,18,Ghana,46,64,Scunthorpe United,€50K,€1K,1031,48.0,...,40.0,45.0,30.0,38.0,29.0,30.0,31.0,29.0,38.0,31.0