In [1]:
#PURE PYTHON!!!!
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import os
import re

In [66]:
path = %pwd
path += '/fifa-18-demo-player-dataset/CompleteDataset.csv'

In [67]:
def clean_raw_data(path=None):
    """
    Denne metode fjerner uønskede kolonner samt indsætter 0 på målmændendes ikke-målmænd attributter
    @input: path: sti til hvor data ligger
    """
    raw_data = (pd
                .DataFrame
                .from_csv(
                    path=path,
                    encoding='utf-8',
                    index_col='ID'
                ))
    del raw_data['Club Logo']
    del raw_data['Photo']
    del raw_data['Flag']
    del raw_data['Unnamed: 0']
    raw_data = convert_object_col_to_float(
        raw_data.fillna(0))
    return raw_data

In [68]:
def convert_object_col_to_float(pdf):
    """
    
    """
    
    remove_funny_stuff = lambda x: float(re.sub('\W\d+','',x))
    for col in pdf.columns[9:43]: # Vi snyder, for vi ved godt at fejlene ligger i disse kolonner...
        try:
            if pdf.dtypes[col] == np.object:
                pdf[col] = pdf[col].map(str)
                pdf[col] = pdf[col].map(remove_funny_stuff)
        except Exception as e:
            print(col+" "+str(e))
            break
    return pdf

In [85]:
df = clean_raw_data(path)

/home/sidsel/.local/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2847: DtypeWarning: Columns (23,35) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [70]:
df

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Acceleration,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
ID,,,,,,,,,,,,,,,,,,,,,
20801,Cristiano Ronaldo,32,Portugal,94,94,Real Madrid CF,€95.5M,€565K,2228,89.0,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
158023,L. Messi,30,Argentina,93,93,FC Barcelona,€105M,€565K,2154,92.0,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
190871,Neymar,25,Brazil,92,94,Paris Saint-Germain,€123M,€280K,2100,94.0,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
176580,L. Suárez,30,Uruguay,92,92,FC Barcelona,€97M,€510K,2291,88.0,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
167495,M. Neuer,31,Germany,92,92,FC Bayern Munich,€61M,€230K,1493,58.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
188545,R. Lewandowski,28,Poland,91,91,FC Bayern Munich,€92M,€355K,2143,79.0,...,58.0,57.0,78.0,62.0,87.0,82.0,88.0,84.0,61.0,88.0
193080,De Gea,26,Spain,90,92,Manchester United,€64.5M,€215K,1458,57.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
183277,E. Hazard,26,Belgium,90,91,Chelsea,€90.5M,€295K,2096,93.0,...,59.0,47.0,81.0,61.0,87.0,87.0,82.0,88.0,64.0,82.0
182521,T. Kroos,27,Germany,90,90,Real Madrid CF,€79M,€340K,2165,60.0,...,76.0,72.0,87.0,82.0,81.0,81.0,77.0,80.0,78.0,77.0
167664,G. Higuaín,29,Argentina,90,90,Juventus,€77M,€275K,1961,78.0,...,51.0,46.0,71.0,52.0,84.0,79.0,87.0,82.0,55.0,87.0
155862,Sergio Ramos,31,Spain,90,90,Real Madrid CF,€52M,€310K,2153,75.0,...,84.0,87.0,74.0,83.0,70.0,71.0,72.0,69.0,81.0,72.0
192985,K. De Bruyne,26,Belgium,89,92,Manchester City,€83M,€285K,2162,76.0,...,66.0,57.0,84.0,70.0,85.0,85.0,81.0,85.0,71.0,81.0
192119,T. Courtois,25,Belgium,89,92,Chelsea,€59M,€190K,1282,46.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
184941,A. Sánchez,28,Chile,89,89,Arsenal,€67.5M,€265K,2181,88.0,...,62.0,56.0,79.0,64.0,85.0,85.0,83.0,86.0,66.0,83.0
177003,L. Modrić,31,Croatia,89,89,Real Madrid CF,€57M,€340K,2228,75.0,...,78.0,72.0,86.0,80.0,83.0,84.0,76.0,83.0,80.0,76.0
173731,G. Bale,27,Wales,89,89,Real Madrid CF,€69.5M,€370K,2263,93.0,...,72.0,67.0,81.0,71.0,87.0,87.0,87.0,87.0,74.0,87.0
153079,S. Agüero,29,Argentina,89,89,Manchester City,€66.5M,€325K,2074,90.0,...,52.0,44.0,75.0,54.0,87.0,84.0,86.0,86.0,57.0,86.0
138956,G. Chiellini,32,Italy,89,89,Juventus,€38M,€225K,1867,68.0,...,78.0,86.0,60.0,76.0,55.0,58.0,59.0,56.0,75.0,59.0
1179,G. Buffon,39,Italy,89,89,Juventus,€4.5M,€110K,1335,49.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
211110,P. Dybala,23,Argentina,88,93,Juventus,€79M,€215K,2063,88.0,...,55.0,43.0,78.0,55.0,86.0,86.0,83.0,87.0,60.0,83.0
200389,J. Oblak,24,Slovenia,88,93,Atlético Madrid,€57M,€82K,1290,43.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
194765,A. Griezmann,26,France,88,91,Atlético Madrid,€75M,€150K,2104,87.0,...,56.0,48.0,76.0,57.0,85.0,84.0,85.0,86.0,60.0,85.0
189509,Thiago,26,Spain,88,90,FC Bayern Munich,€70.5M,€225K,2185,77.0,...,72.0,66.0,85.0,76.0,83.0,83.0,77.0,83.0,75.0,77.0
188567,P. Aubameyang,28,Gabon,88,88,Borussia Dortmund,€61M,€165K,2078,95.0,...,62.0,52.0,74.0,59.0,84.0,83.0,85.0,84.0,65.0,85.0
184344,L. Bonucci,30,Italy,88,88,Milan,€44M,€210K,1995,62.0,...,79.0,86.0,75.0,83.0,66.0,66.0,65.0,63.0,76.0,65.0
183907,J. Boateng,28,Germany,88,88,FC Bayern Munich,€48M,€215K,1989,72.0,...,81.0,85.0,73.0,82.0,66.0,69.0,65.0,65.0,79.0,65.0
182493,D. Godín,31,Uruguay,88,88,Atlético Madrid,€40M,€125K,1930,62.0,...,79.0,86.0,69.0,80.0,62.0,63.0,64.0,61.0,76.0,64.0
178603,M. Hummels,28,Germany,88,88,FC Bayern Munich,€48M,€215K,2038,62.0,...,80.0,85.0,77.0,83.0,69.0,70.0,69.0,68.0,78.0,69.0
176635,M. Özil,28,Germany,88,88,Arsenal,€60M,€265K,1927,75.0,...,52.0,41.0,79.0,57.0,82.0,83.0,76.0,83.0,58.0,76.0
167948,H. Lloris,30,France,88,88,Tottenham Hotspur,€38M,€165K,1318,65.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221669,M. Hurst,21,Scotland,48,58,St. Johnstone FC,€40K,€1K,991,40.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
239079,A. Osmanoski,17,FYR Macedonia,48,68,SpVgg Unterhaching,€60K,€1K,1377,68.0,...,47.0,46.0,47.0,47.0,47.0,48.0,46.0,47.0,47.0,46.0
238833,K. Cotter,18,England,48,67,Luton Town,€60K,€1K,1329,67.0,...,47.0,44.0,47.0,46.0,45.0,48.0,44.0,46.0,48.0,44.0
225778,T. Robinson,19,England,48,64,Bradford City,€60K,€1K,1257,69.0,...,37.0,32.0,41.0,35.0,45.0,47.0,45.0,47.0,39.0,45.0
231928,R. Hughes,18,Scotland,48,63,Hamilton Academical FC,€60K,€1K,1330,59.0,...,47.0,48.0,47.0,48.0,46.0,47.0,44.0,46.0,47.0,44.0
240381,Z. Mohammed,17,England,48,64,Accrington Stanley,€50K,€1K,1167,62.0,...,44.0,47.0,33.0,41.0,32.0,34.0,34.0,33.0,42.0,34.0
236807,D. Peppard,17,Republic of Ireland,47,61,Bohemian FC,€50K,€1K,1199,56.0,...,46.0,45.0,41.0,45.0,39.0,42.0,37.0,40.0,46.0,37.0
237859,C. Rogers,17,Republic of Ireland,47,59,Bray Wanderers,€40K,€1K,1189,60.0,...,46.0,47.0,36.0,43.0,35.0,37.0,37.0,35.0,44.0,37.0
225319,N. McLaughlin,18,Scotland,47,64,Partick Thistle F.C.,€60K,€1K,1330,69.0,...,43.0,40.0,46.0,44.0,47.0,48.0,46.0,47.0,44.0,46.0
236597,L. Kiely,18,Republic of Ireland,47,69,Shamrock Rovers,€70K,€1K,1290,43.0,...,41.0,41.0,45.0,43.0,44.0,45.0,42.0,44.0,41.0,42.0
233047,J. Latibeaudiere,17,England,47,73,Manchester City,€60K,€5K,1132,57.0,...,45.0,46.0,35.0,42.0,32.0,35.0,32.0,32.0,43.0,32.0
236425,J. Payne,18,England,47,63,Barnet,€50K,€1K,1219,65.0,...,46.0,46.0,35.0,40.0,36.0,39.0,36.0,38.0,45.0,36.0
238217,G. Manley,19,Republic of Ireland,47,58,Cork City,€50K,€1K,1298,57.0,...,46.0,48.0,46.0,48.0,42.0,44.0,41.0,42.0,46.0,41.0
238985,P. Phillips,18,Republic of Ireland,47,67,Cork City,€60K,€1K,1297,56.0,...,47.0,48.0,46.0,48.0,43.0,44.0,41.0,42.0,46.0,41.0
238219,A. Byrne,18,Republic of Ireland,47,61,Cork City,€60K,€1K,1346,58.0,...,46.0,43.0,46.0,46.0,46.0,47.0,44.0,45.0,46.0,44.0
238477,K. Fujikawa,18,Japan,47,67,Júbilo Iwata,€60K,€1K,1317,59.0,...,46.0,47.0,46.0,47.0,43.0,45.0,40.0,44.0,46.0,40.0
231824,K. Egan,19,England,47,67,Exeter City,€60K,€1K,1225,63.0,...,46.0,46.0,37.0,41.0,38.0,42.0,37.0,42.0,46.0,37.0
237974,T. Brownsword,17,England,47,68,Morecambe,€60K,€1K,1143,55.0,...,45.0,46.0,32.0,40.0,32.0,34.0,33.0,32.0,43.0,33.0
236954,F. Prohart,18,Austria,47,67,Wolfsberger AC,€60K,€1K,1238,62.0,...,33.0,27.0,41.0,31.0,48.0,47.0,46.0,49.0,35.0,46.0
231107,A. Kilgour,19,England,47,56,Bristol Rovers,€40K,€1K,1208,52.0,...,43.0,46.0,38.0,43.0,37.0,38.0,38.0,37.0,42.0,38.0
240325,R. White,18,England,47,65,Bolton Wanderers,€60K,€2K,1265,51.0,...,33.0,32.0,42.0,33.0,49.0,46.0,52.0,47.0,34.0,52.0
238306,A. Conway,19,Republic of Ireland,47,63,Galway United,€60K,€1K,1314,60.0,...,46.0,45.0,41.0,43.0,42.0,44.0,42.0,44.0,46.0,42.0
240403,T. Sawyer,18,England,46,58,Grimsby Town,€50K,€1K,1267,65.0,...,45.0,42.0,45.0,43.0,46.0,47.0,45.0,47.0,46.0,45.0
240404,J. Keeble,18,England,46,56,Grimsby Town,€40K,€1K,1105,66.0,...,46.0,45.0,34.0,41.0,33.0,35.0,33.0,34.0,44.0,33.0
235352,T. Käßemodel,28,Germany,46,46,FC Erzgebirge Aue,€30K,€1K,1174,25.0,...,37.0,38.0,45.0,42.0,42.0,42.0,41.0,41.0,38.0,41.0
237463,A. Kelsey,17,England,46,63,Scunthorpe United,€50K,€1K,755,24.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11728,B. Richardson,47,England,46,46,Wycombe Wanderers,€0,€1K,832,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
231381,J. Young,17,Scotland,46,61,Swindon Town,€60K,€1K,1194,66.0,...,31.0,28.0,38.0,29.0,45.0,42.0,45.0,44.0,32.0,45.0
238813,J. Lundstram,18,England,46,64,Crewe Alexandra,€60K,€1K,1302,57.0,...,47.0,46.0,45.0,47.0,43.0,45.0,41.0,44.0,46.0,41.0
238308,L. Sackey,18,Ghana,46,64,Scunthorpe United,€50K,€1K,1031,48.0,...,40.0,45.0,30.0,38.0,29.0,30.0,31.0,29.0,38.0,31.0

In [71]:
df['Value'] = df['Value'].map(lambda x: re.sub('€','',x))
df['Wage'] = df['Wage'].map(lambda x: re.sub('€','',x))

In [72]:
c = df['Value'].map(lambda x: re.findall('(\d+\.?\d)([MK])',x))
s = c[c.index == 20801]
float(s.tolist()[0][0][0])

95.5

In [113]:
desired_clubs = ['Real Madrid CF', 'FC Barcelona', 'FC Bayern Munich', 'Paris Saint-Germain', 'Chelsea', 'Manchester City']

In [103]:
def parse_of_wage(val):
    val = re.sub('€', '', val)
    valdict = {'M': 1000000, 'K': 1000, '': 0}
    
    try:
        splitter = re.findall('(\d*\.?\d)([MK]?)', val)[0]
        return float(splitter[0])*valdict[splitter[1]]
    except IndexError as e:
        print(splitter)

In [106]:
df['Value'] = df['Value'].map(lambda x: parse_of_wage(x))
df['Wage'] = df['Wage'].map(lambda x: parse_of_wage(x))

### Classification

In [134]:
df['label'] = df['Club'].isin(desired_clubs).astype(int)

In [146]:
test_dansker = df[df['Nationality'] == 'Denmark'] 
test_dansker

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Acceleration,...,RCM,RDM,RF,RM,RS,RW,RWB,ST,temp,label
ID,,,,,,,,,,,,,,,,,,,,,
190460,C. Eriksen,25,Denmark,87,91,Tottenham Hotspur,65000000.0,165000.0,2064,77.0,...,83.0,68.0,82.0,84.0,77.0,83.0,69.0,77.0,65000000.0,0
163587,K. Schmeichel,30,Denmark,83,84,Leicester City,19000000.0,65000.0,1355,62.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19000000.0,0
213661,A. Christensen,21,Denmark,81,89,Chelsea,23000000.0,86000.0,1720,70.0,...,67.0,77.0,58.0,64.0,55.0,60.0,74.0,55.0,23000000.0,1
179645,S. Kjær,28,Denmark,81,82,Sevilla FC,16000000.0,23000.0,1869,60.0,...,65.0,76.0,57.0,59.0,61.0,56.0,72.0,61.0,16000000.0,0
172522,D. Wass,28,Denmark,80,80,RC Celta de Vigo,14500000.0,33000.0,2107,73.0,...,79.0,74.0,78.0,79.0,75.0,77.0,76.0,75.0,14500000.0,0
202849,J. Vestergaard,24,Denmark,79,84,Borussia Mönchengladbach,14500000.0,36000.0,1712,47.0,...,63.0,74.0,54.0,54.0,58.0,50.0,66.0,58.0,14500000.0,0
199852,N. Jørgensen,26,Denmark,79,81,Feyenoord,15500000.0,25000.0,1931,76.0,...,71.0,57.0,78.0,76.0,78.0,76.0,59.0,78.0,15500000.0,0
159240,M. Krohn-Dehli,34,Denmark,79,79,Sevilla FC,6500000.0,24000.0,2084,69.0,...,79.0,74.0,78.0,78.0,74.0,78.0,73.0,74.0,6500000.0,0
228687,K. Dolberg,19,Denmark,78,88,Ajax,16500000.0,10000.0,1834,73.0,...,66.0,49.0,76.0,70.0,77.0,72.0,50.0,77.0,16500000.0,0
193290,M. Braithwaite,26,Denmark,77,80,Middlesbrough,11000000.0,24000.0,1993,82.0,...,70.0,57.0,77.0,76.0,76.0,77.0,59.0,76.0,11000000.0,0
172143,L. Schøne,31,Denmark,77,77,Ajax,7500000.0,15000.0,2051,45.0,...,76.0,70.0,73.0,73.0,70.0,73.0,68.0,70.0,7500000.0,0
201342,F. Sørensen,25,Denmark,77,81,1. FC Köln,9500000.0,33000.0,1681,52.0,...,64.0,72.0,55.0,59.0,53.0,54.0,69.0,53.0,9500000.0,0
203903,L. Andersen,22,Denmark,76,83,Grasshopper Club Zürich,11000000.0,21000.0,1808,79.0,...,70.0,55.0,74.0,75.0,70.0,75.0,59.0,70.0,11000000.0,0
207791,Y. Poulsen,23,Denmark,76,83,RB Leipzig,11000000.0,58000.0,1873,85.0,...,65.0,56.0,73.0,73.0,74.0,73.0,60.0,74.0,11000000.0,0
217605,L. Lerager,23,Denmark,75,80,Girondins de Bordeaux,9000000.0,33000.0,1945,61.0,...,74.0,72.0,71.0,71.0,70.0,70.0,71.0,70.0,9000000.0,0
172553,J. Lössl,28,Denmark,75,76,Huddersfield Town,5500000.0,21000.0,1070,29.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5500000.0,0
213648,P. Højbjerg,21,Denmark,75,81,Southampton,9000000.0,52000.0,1976,65.0,...,74.0,74.0,70.0,71.0,67.0,69.0,71.0,67.0,9000000.0,0
203965,V. Fischer,23,Denmark,75,82,1. FSV Mainz 05,9500000.0,23000.0,1858,76.0,...,71.0,57.0,75.0,74.0,72.0,74.0,57.0,72.0,9500000.0,0
183491,M. Jørgensen,27,Denmark,75,78,Huddersfield Town,6500000.0,40000.0,1726,66.0,...,64.0,72.0,57.0,60.0,57.0,56.0,68.0,57.0,6500000.0,0
190947,D. Jensen,25,Denmark,75,78,FC Utrecht,6000000.0,9000.0,1173,48.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6000000.0,0
212253,A. Scholz,24,Denmark,74,79,Standard de Liège,6500000.0,13000.0,1770,59.0,...,66.0,71.0,61.0,62.0,61.0,60.0,68.0,61.0,6500000.0,0
201303,R. Falk Jensen,25,Denmark,74,77,FC København,7000000.0,20000.0,1770,84.0,...,64.0,49.0,72.0,73.0,69.0,73.0,55.0,69.0,7000000.0,0
199792,A. Christiansen,27,Denmark,74,75,Malmö FF,6500000.0,8000.0,2060,72.0,...,73.0,72.0,70.0,72.0,67.0,70.0,72.0,67.0,6500000.0,0
212196,P. Sisto,22,Denmark,74,83,RC Celta de Vigo,8500000.0,22000.0,1952,82.0,...,68.0,61.0,73.0,73.0,71.0,74.0,64.0,71.0,8500000.0,0
172517,M. Jensen,29,Denmark,74,74,Rosenborg BK,5500000.0,9000.0,2052,79.0,...,73.0,71.0,73.0,74.0,71.0,73.0,72.0,71.0,5500000.0,0
162052,D. Ousted,32,Denmark,73,73,Vancouver Whitecaps FC,2300000.0,7000.0,1131,38.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2300000.0,0
167706,N. Bendtner,29,Denmark,73,73,Rosenborg BK,4000000.0,10000.0,1790,70.0,...,65.0,54.0,70.0,69.0,72.0,69.0,53.0,72.0,4000000.0,0
201269,F. Rønnow,24,Denmark,73,78,Brøndby IF,3900000.0,12000.0,1082,48.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3900000.0,0
199745,E. Sviatchenko,25,Denmark,73,75,Celtic,4100000.0,42000.0,1793,63.0,...,63.0,69.0,59.0,58.0,60.0,57.0,65.0,60.0,4100000.0,0
204163,J. Okore,24,Denmark,73,77,Aalborg BK,4400000.0,13000.0,1703,72.0,...,56.0,66.0,54.0,55.0,57.0,53.0,63.0,57.0,4400000.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239086,D. Thøgersen,17,Denmark,52,70,Aarhus GF,90000.0,1000.0,1315,73.0,...,41.0,44.0,43.0,46.0,41.0,46.0,50.0,41.0,90000.0,0
236783,K. Lunding,17,Denmark,52,68,Aarhus GF,100000.0,1000.0,1316,64.0,...,44.0,38.0,50.0,51.0,48.0,51.0,43.0,48.0,100000.0,0
215538,P. Born,22,Denmark,52,61,SønderjyskE,60000.0,1000.0,1016,44.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60000.0,0
235508,N. Gribenco,20,Denmark,52,68,Aarhus GF,110000.0,1000.0,1354,66.0,...,45.0,36.0,52.0,51.0,51.0,52.0,39.0,51.0,110000.0,0
237840,M. Andersen,18,Denmark,51,67,FC Nordsjælland,80000.0,1000.0,1424,71.0,...,50.0,43.0,52.0,53.0,50.0,53.0,45.0,50.0,80000.0,0
239163,M. Hegaard,19,Denmark,51,69,FC Helsingør,70000.0,1000.0,1144,46.0,...,39.0,47.0,34.0,37.0,36.0,34.0,42.0,36.0,70000.0,0
235584,K. Weber,20,Denmark,51,63,Odense Boldklub,70000.0,2000.0,1260,50.0,...,43.0,33.0,49.0,46.0,50.0,47.0,34.0,50.0,70000.0,0
236446,J. Pryts Larsen,19,Denmark,51,62,Brøndby IF,50000.0,1000.0,786,22.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,50000.0,0
234659,J. Gertsen,20,Denmark,51,67,Silkeborg IF,70000.0,1000.0,1170,48.0,...,34.0,43.0,32.0,32.0,35.0,31.0,43.0,35.0,70000.0,0
238755,M. Warming,17,Denmark,51,66,Brøndby IF,70000.0,1000.0,1328,52.0,...,47.0,40.0,49.0,50.0,47.0,50.0,42.0,47.0,70000.0,0
233912,E. Damgaard,18,Denmark,51,63,FC Nordsjælland,50000.0,1000.0,1336,66.0,...,44.0,48.0,43.0,46.0,41.0,45.0,50.0,41.0,50000.0,0
239293,F. Roepstorff,19,Denmark,51,70,FC Helsingør,80000.0,1000.0,1341,51.0,...,50.0,44.0,51.0,52.0,48.0,51.0,44.0,48.0,80000.0,0
241114,O. Drost,21,Denmark,51,58,AC Horsens,50000.0,1000.0,1251,61.0,...,40.0,31.0,49.0,46.0,50.0,47.0,34.0,50.0,50000.0,0
238309,T. Damsgaard,19,Denmark,51,66,Randers FC,70000.0,1000.0,1331,62.0,...,44.0,47.0,45.0,48.0,42.0,47.0,51.0,42.0,70000.0,0
235822,M. Holm,19,Denmark,50,64,AC Horsens,60000.0,1000.0,1258,61.0,...,40.0,44.0,40.0,44.0,38.0,43.0,48.0,38.0,60000.0,0
240686,M. Iversen,18,Denmark,50,62,Aalborg BK,40000.0,1000.0,1051,38.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40000.0,0
239168,A. Junge,24,Denmark,50,56,FC Helsingør,40000.0,1000.0,1277,75.0,...,42.0,33.0,49.0,48.0,49.0,49.0,37.0,49.0,40000.0,0
238932,G. Arndal-Lauritzen,19,Denmark,50,67,Brøndby IF,60000.0,1000.0,1300,56.0,...,43.0,47.0,42.0,45.0,40.0,43.0,49.0,40.0,60000.0,0
234096,B. Hvidt,17,Denmark,50,68,Aarhus GF,60000.0,1000.0,1390,44.0,...,49.0,51.0,47.0,48.0,46.0,48.0,49.0,46.0,60000.0,0
235636,M. Madsen,19,Denmark,50,67,Silkeborg IF,60000.0,1000.0,1369,56.0,...,49.0,47.0,49.0,49.0,48.0,48.0,45.0,48.0,60000.0,0
241018,F. Nørgaard,18,Denmark,50,62,AC Horsens,40000.0,1000.0,811,27.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40000.0,0
238726,G. Marcussen,19,Denmark,50,69,Lyngby BK,60000.0,1000.0,1403,69.0,...,46.0,46.0,47.0,49.0,47.0,48.0,48.0,47.0,60000.0,0
235660,J. Johansson,18,Denmark,50,64,FC Nordsjælland,60000.0,1000.0,1272,52.0,...,41.0,32.0,48.0,46.0,49.0,47.0,34.0,49.0,60000.0,0
238753,C. Enemark,18,Denmark,50,69,Brøndby IF,50000.0,1000.0,1233,53.0,...,40.0,46.0,38.0,42.0,37.0,39.0,49.0,37.0,50000.0,0
240040,C. Holse,18,Denmark,50,66,FC København,60000.0,2000.0,1377,68.0,...,47.0,38.0,52.0,53.0,49.0,53.0,42.0,49.0,60000.0,0
234672,O. Kjærgaard,18,Denmark,50,68,Lyngby BK,60000.0,1000.0,1394,68.0,...,49.0,44.0,51.0,52.0,49.0,52.0,45.0,49.0,60000.0,0
239292,I. Esen,19,Denmark,50,69,FC Helsingør,60000.0,1000.0,1400,60.0,...,48.0,47.0,47.0,49.0,46.0,48.0,48.0,46.0,60000.0,0
228799,M. Mejlstrup Pedersen,21,Denmark,50,63,Hobro IK,50000.0,1000.0,1469,59.0,...,48.0,47.0,52.0,49.0,52.0,51.0,48.0,52.0,50000.0,0
234471,M. Bobjerg,19,Denmark,50,65,AC Horsens,50000.0,1000.0,856,26.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,50000.0,0
236793,N. Dohn,18,Denmark,50,65,AC Horsens,60000.0,1000.0,1357,67.0,...,49.0,48.0,48.0,48.0,46.0,47.0,48.0,46.0,60000.0,0

In [140]:
df_train = df.loc[df['Nationality'] != 'Denmark']

In [141]:
df_train

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Acceleration,...,RCM,RDM,RF,RM,RS,RW,RWB,ST,temp,label
ID,,,,,,,,,,,,,,,,,,,,,
20801,Cristiano Ronaldo,32,Portugal,94,94,Real Madrid CF,95500000.0,565000.0,2228,89.0,...,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0,95500000.0,1
158023,L. Messi,30,Argentina,93,93,FC Barcelona,105000000.0,565000.0,2154,92.0,...,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0,105000000.0,1
190871,Neymar,25,Brazil,92,94,Paris Saint-Germain,123000000.0,280000.0,2100,94.0,...,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0,123000000.0,1
176580,L. Suárez,30,Uruguay,92,92,FC Barcelona,97000000.0,510000.0,2291,88.0,...,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0,97000000.0,1
167495,M. Neuer,31,Germany,92,92,FC Bayern Munich,61000000.0,230000.0,1493,58.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,61000000.0,1
188545,R. Lewandowski,28,Poland,91,91,FC Bayern Munich,92000000.0,355000.0,2143,79.0,...,78.0,62.0,87.0,82.0,88.0,84.0,61.0,88.0,92000000.0,1
193080,De Gea,26,Spain,90,92,Manchester United,64500000.0,215000.0,1458,57.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64500000.0,0
183277,E. Hazard,26,Belgium,90,91,Chelsea,90500000.0,295000.0,2096,93.0,...,81.0,61.0,87.0,87.0,82.0,88.0,64.0,82.0,90500000.0,1
182521,T. Kroos,27,Germany,90,90,Real Madrid CF,79000000.0,340000.0,2165,60.0,...,87.0,82.0,81.0,81.0,77.0,80.0,78.0,77.0,79000000.0,1
167664,G. Higuaín,29,Argentina,90,90,Juventus,77000000.0,275000.0,1961,78.0,...,71.0,52.0,84.0,79.0,87.0,82.0,55.0,87.0,77000000.0,0
155862,Sergio Ramos,31,Spain,90,90,Real Madrid CF,52000000.0,310000.0,2153,75.0,...,74.0,83.0,70.0,71.0,72.0,69.0,81.0,72.0,52000000.0,1
192985,K. De Bruyne,26,Belgium,89,92,Manchester City,83000000.0,285000.0,2162,76.0,...,84.0,70.0,85.0,85.0,81.0,85.0,71.0,81.0,83000000.0,1
192119,T. Courtois,25,Belgium,89,92,Chelsea,59000000.0,190000.0,1282,46.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59000000.0,1
184941,A. Sánchez,28,Chile,89,89,Arsenal,67500000.0,265000.0,2181,88.0,...,79.0,64.0,85.0,85.0,83.0,86.0,66.0,83.0,67500000.0,0
177003,L. Modrić,31,Croatia,89,89,Real Madrid CF,57000000.0,340000.0,2228,75.0,...,86.0,80.0,83.0,84.0,76.0,83.0,80.0,76.0,57000000.0,1
173731,G. Bale,27,Wales,89,89,Real Madrid CF,69500000.0,370000.0,2263,93.0,...,81.0,71.0,87.0,87.0,87.0,87.0,74.0,87.0,69500000.0,1
153079,S. Agüero,29,Argentina,89,89,Manchester City,66500000.0,325000.0,2074,90.0,...,75.0,54.0,87.0,84.0,86.0,86.0,57.0,86.0,66500000.0,1
138956,G. Chiellini,32,Italy,89,89,Juventus,38000000.0,225000.0,1867,68.0,...,60.0,76.0,55.0,58.0,59.0,56.0,75.0,59.0,38000000.0,0
1179,G. Buffon,39,Italy,89,89,Juventus,4500000.0,110000.0,1335,49.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4500000.0,0
211110,P. Dybala,23,Argentina,88,93,Juventus,79000000.0,215000.0,2063,88.0,...,78.0,55.0,86.0,86.0,83.0,87.0,60.0,83.0,79000000.0,0
200389,J. Oblak,24,Slovenia,88,93,Atlético Madrid,57000000.0,82000.0,1290,43.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,57000000.0,0
194765,A. Griezmann,26,France,88,91,Atlético Madrid,75000000.0,150000.0,2104,87.0,...,76.0,57.0,85.0,84.0,85.0,86.0,60.0,85.0,75000000.0,0
189509,Thiago,26,Spain,88,90,FC Bayern Munich,70500000.0,225000.0,2185,77.0,...,85.0,76.0,83.0,83.0,77.0,83.0,75.0,77.0,70500000.0,1
188567,P. Aubameyang,28,Gabon,88,88,Borussia Dortmund,61000000.0,165000.0,2078,95.0,...,74.0,59.0,84.0,83.0,85.0,84.0,65.0,85.0,61000000.0,0
184344,L. Bonucci,30,Italy,88,88,Milan,44000000.0,210000.0,1995,62.0,...,75.0,83.0,66.0,66.0,65.0,63.0,76.0,65.0,44000000.0,0
183907,J. Boateng,28,Germany,88,88,FC Bayern Munich,48000000.0,215000.0,1989,72.0,...,73.0,82.0,66.0,69.0,65.0,65.0,79.0,65.0,48000000.0,1
182493,D. Godín,31,Uruguay,88,88,Atlético Madrid,40000000.0,125000.0,1930,62.0,...,69.0,80.0,62.0,63.0,64.0,61.0,76.0,64.0,40000000.0,0
178603,M. Hummels,28,Germany,88,88,FC Bayern Munich,48000000.0,215000.0,2038,62.0,...,77.0,83.0,69.0,70.0,69.0,68.0,78.0,69.0,48000000.0,1
176635,M. Özil,28,Germany,88,88,Arsenal,60000000.0,265000.0,1927,75.0,...,79.0,57.0,82.0,83.0,76.0,83.0,58.0,76.0,60000000.0,0
167948,H. Lloris,30,France,88,88,Tottenham Hotspur,38000000.0,165000.0,1318,65.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,38000000.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221669,M. Hurst,21,Scotland,48,58,St. Johnstone FC,40000.0,1000.0,991,40.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40000.0,0
239079,A. Osmanoski,17,FYR Macedonia,48,68,SpVgg Unterhaching,60000.0,1000.0,1377,68.0,...,47.0,47.0,47.0,48.0,46.0,47.0,47.0,46.0,60000.0,0
238833,K. Cotter,18,England,48,67,Luton Town,60000.0,1000.0,1329,67.0,...,47.0,46.0,45.0,48.0,44.0,46.0,48.0,44.0,60000.0,0
225778,T. Robinson,19,England,48,64,Bradford City,60000.0,1000.0,1257,69.0,...,41.0,35.0,45.0,47.0,45.0,47.0,39.0,45.0,60000.0,0
231928,R. Hughes,18,Scotland,48,63,Hamilton Academical FC,60000.0,1000.0,1330,59.0,...,47.0,48.0,46.0,47.0,44.0,46.0,47.0,44.0,60000.0,0
240381,Z. Mohammed,17,England,48,64,Accrington Stanley,50000.0,1000.0,1167,62.0,...,33.0,41.0,32.0,34.0,34.0,33.0,42.0,34.0,50000.0,0
236807,D. Peppard,17,Republic of Ireland,47,61,Bohemian FC,50000.0,1000.0,1199,56.0,...,41.0,45.0,39.0,42.0,37.0,40.0,46.0,37.0,50000.0,0
237859,C. Rogers,17,Republic of Ireland,47,59,Bray Wanderers,40000.0,1000.0,1189,60.0,...,36.0,43.0,35.0,37.0,37.0,35.0,44.0,37.0,40000.0,0
225319,N. McLaughlin,18,Scotland,47,64,Partick Thistle F.C.,60000.0,1000.0,1330,69.0,...,46.0,44.0,47.0,48.0,46.0,47.0,44.0,46.0,60000.0,0
236597,L. Kiely,18,Republic of Ireland,47,69,Shamrock Rovers,70000.0,1000.0,1290,43.0,...,45.0,43.0,44.0,45.0,42.0,44.0,41.0,42.0,70000.0,0
233047,J. Latibeaudiere,17,England,47,73,Manchester City,60000.0,5000.0,1132,57.0,...,35.0,42.0,32.0,35.0,32.0,32.0,43.0,32.0,60000.0,1
236425,J. Payne,18,England,47,63,Barnet,50000.0,1000.0,1219,65.0,...,35.0,40.0,36.0,39.0,36.0,38.0,45.0,36.0,50000.0,0
238217,G. Manley,19,Republic of Ireland,47,58,Cork City,50000.0,1000.0,1298,57.0,...,46.0,48.0,42.0,44.0,41.0,42.0,46.0,41.0,50000.0,0
238985,P. Phillips,18,Republic of Ireland,47,67,Cork City,60000.0,1000.0,1297,56.0,...,46.0,48.0,43.0,44.0,41.0,42.0,46.0,41.0,60000.0,0
238219,A. Byrne,18,Republic of Ireland,47,61,Cork City,60000.0,1000.0,1346,58.0,...,46.0,46.0,46.0,47.0,44.0,45.0,46.0,44.0,60000.0,0
238477,K. Fujikawa,18,Japan,47,67,Júbilo Iwata,60000.0,1000.0,1317,59.0,...,46.0,47.0,43.0,45.0,40.0,44.0,46.0,40.0,60000.0,0
231824,K. Egan,19,England,47,67,Exeter City,60000.0,1000.0,1225,63.0,...,37.0,41.0,38.0,42.0,37.0,42.0,46.0,37.0,60000.0,0
237974,T. Brownsword,17,England,47,68,Morecambe,60000.0,1000.0,1143,55.0,...,32.0,40.0,32.0,34.0,33.0,32.0,43.0,33.0,60000.0,0
236954,F. Prohart,18,Austria,47,67,Wolfsberger AC,60000.0,1000.0,1238,62.0,...,41.0,31.0,48.0,47.0,46.0,49.0,35.0,46.0,60000.0,0
231107,A. Kilgour,19,England,47,56,Bristol Rovers,40000.0,1000.0,1208,52.0,...,38.0,43.0,37.0,38.0,38.0,37.0,42.0,38.0,40000.0,0
240325,R. White,18,England,47,65,Bolton Wanderers,60000.0,2000.0,1265,51.0,...,42.0,33.0,49.0,46.0,52.0,47.0,34.0,52.0,60000.0,0
238306,A. Conway,19,Republic of Ireland,47,63,Galway United,60000.0,1000.0,1314,60.0,...,41.0,43.0,42.0,44.0,42.0,44.0,46.0,42.0,60000.0,0
240403,T. Sawyer,18,England,46,58,Grimsby Town,50000.0,1000.0,1267,65.0,...,45.0,43.0,46.0,47.0,45.0,47.0,46.0,45.0,50000.0,0
240404,J. Keeble,18,England,46,56,Grimsby Town,40000.0,1000.0,1105,66.0,...,34.0,41.0,33.0,35.0,33.0,34.0,44.0,33.0,40000.0,0
235352,T. Käßemodel,28,Germany,46,46,FC Erzgebirge Aue,30000.0,1000.0,1174,25.0,...,45.0,42.0,42.0,42.0,41.0,41.0,38.0,41.0,30000.0,0
237463,A. Kelsey,17,England,46,63,Scunthorpe United,50000.0,1000.0,755,24.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,50000.0,0
11728,B. Richardson,47,England,46,46,Wycombe Wanderers,0.0,1000.0,832,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
231381,J. Young,17,Scotland,46,61,Swindon Town,60000.0,1000.0,1194,66.0,...,38.0,29.0,45.0,42.0,45.0,44.0,32.0,45.0,60000.0,0
238813,J. Lundstram,18,England,46,64,Crewe Alexandra,60000.0,1000.0,1302,57.0,...,45.0,47.0,43.0,45.0,41.0,44.0,46.0,41.0,60000.0,0
238308,L. Sackey,18,Ghana,46,64,Scunthorpe United,50000.0,1000.0,1031,48.0,...,30.0,38.0,29.0,30.0,31.0,29.0,38.0,31.0,50000.0,0

In [147]:
assert len(df) - len(test_dansker) == len(df_train) , 'We didn\'t get all the danes'

In [180]:
X_train = pd.concat([
    df_train.loc[df_train['label']==0].sample(170),
    df_train.loc[df_train['label']==1]
]).select_dtypes(include=['float64', 'int'])

In [183]:
y_train = X_train['label']

In [181]:
X_train

,Age,Overall,Potential,Value,Wage,Special,Acceleration,Aggression,Agility,Balance,...,RCM,RDM,RF,RM,RS,RW,RWB,ST,temp,label
ID,,,,,,,,,,,,,,,,,,,,,
212712,26,65,67,525000.0,2000.0,1658,64.0,70.0,68.0,61.0,...,58.0,62.0,57.0,60.0,56.0,58.0,64.0,56.0,525000.0,0
234618,25,74,75,6500000.0,10000.0,1761,77.0,58.0,71.0,68.0,...,67.0,52.0,73.0,74.0,70.0,74.0,56.0,70.0,6500000.0,0
233575,24,63,69,425000.0,2000.0,1562,67.0,62.0,64.0,63.0,...,56.0,60.0,51.0,58.0,48.0,55.0,63.0,48.0,425000.0,0
207441,23,79,86,18000000.0,60000.0,1979,76.0,66.0,78.0,88.0,...,72.0,57.0,80.0,78.0,78.0,80.0,59.0,78.0,18000000.0,0
201495,28,64,64,475000.0,5000.0,1561,76.0,48.0,69.0,71.0,...,50.0,39.0,61.0,59.0,63.0,61.0,43.0,63.0,475000.0,0
216778,23,78,85,12500000.0,27000.0,1806,68.0,87.0,66.0,51.0,...,63.0,72.0,60.0,60.0,62.0,59.0,69.0,62.0,12500000.0,0
208508,29,68,68,900000.0,19000.0,1558,58.0,66.0,51.0,46.0,...,53.0,42.0,64.0,58.0,67.0,60.0,42.0,67.0,900000.0,0
209256,23,64,69,500000.0,11000.0,1335,37.0,83.0,33.0,44.0,...,43.0,56.0,36.0,38.0,41.0,34.0,49.0,41.0,500000.0,0
200981,25,65,65,600000.0,4000.0,1618,75.0,49.0,71.0,58.0,...,56.0,46.0,64.0,63.0,65.0,65.0,51.0,65.0,600000.0,0
186305,28,56,56,90000.0,1000.0,1474,65.0,50.0,61.0,54.0,...,51.0,46.0,56.0,55.0,56.0,56.0,48.0,56.0,90000.0,0
239393,23,58,64,170000.0,2000.0,1532,74.0,56.0,65.0,56.0,...,53.0,53.0,53.0,57.0,53.0,55.0,57.0,53.0,170000.0,0
213699,21,67,77,1300000.0,10000.0,1528,74.0,55.0,74.0,56.0,...,52.0,41.0,64.0,58.0,66.0,61.0,42.0,66.0,1300000.0,0
227163,32,67,67,450000.0,2000.0,1077,41.0,19.0,39.0,57.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,450000.0,0
204308,24,70,76,1800000.0,6000.0,1141,37.0,34.0,45.0,43.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1800000.0,0
228111,21,61,70,400000.0,1000.0,1620,77.0,57.0,62.0,60.0,...,55.0,51.0,59.0,60.0,59.0,60.0,54.0,59.0,400000.0,0
226084,20,61,78,550000.0,8000.0,1456,83.0,27.0,65.0,71.0,...,50.0,38.0,60.0,59.0,60.0,60.0,44.0,60.0,550000.0,0
188586,29,70,70,1400000.0,13000.0,1796,40.0,68.0,51.0,49.0,...,69.0,69.0,63.0,63.0,63.0,62.0,65.0,63.0,1400000.0,0
210320,22,69,77,1300000.0,21000.0,1799,67.0,68.0,71.0,65.0,...,63.0,66.0,61.0,64.0,59.0,62.0,68.0,59.0,1300000.0,0
231460,20,51,64,70000.0,2000.0,1310,65.0,30.0,58.0,70.0,...,42.0,34.0,50.0,49.0,50.0,51.0,38.0,50.0,70000.0,0
159255,32,59,59,90000.0,1000.0,1563,53.0,80.0,59.0,54.0,...,52.0,59.0,48.0,50.0,49.0,49.0,58.0,49.0,90000.0,0
170612,26,67,70,800000.0,5000.0,1796,65.0,70.0,57.0,74.0,...,66.0,66.0,63.0,63.0,62.0,62.0,64.0,62.0,800000.0,0
202282,25,75,77,8000000.0,46000.0,2026,84.0,67.0,86.0,62.0,...,73.0,69.0,74.0,74.0,73.0,74.0,70.0,73.0,8000000.0,0
237913,22,54,60,80000.0,1000.0,1131,51.0,56.0,53.0,50.0,...,33.0,44.0,30.0,32.0,34.0,30.0,42.0,34.0,80000.0,0
238675,20,60,70,290000.0,1000.0,1306,64.0,79.0,59.0,54.0,...,41.0,53.0,37.0,40.0,39.0,37.0,51.0,39.0,290000.0,0
214509,25,67,72,850000.0,1000.0,1565,53.0,76.0,64.0,49.0,...,59.0,66.0,52.0,53.0,51.0,51.0,61.0,51.0,850000.0,0
49589,33,67,67,300000.0,4000.0,1678,59.0,78.0,59.0,60.0,...,56.0,61.0,52.0,51.0,54.0,51.0,56.0,54.0,300000.0,0
217730,26,64,65,425000.0,3000.0,1633,69.0,60.0,64.0,56.0,...,55.0,61.0,54.0,56.0,54.0,55.0,62.0,54.0,425000.0,0
218744,21,68,77,1400000.0,7000.0,1809,69.0,63.0,73.0,72.0,...,67.0,62.0,66.0,67.0,62.0,66.0,62.0,62.0,1400000.0,0
239949,19,63,78,725000.0,3000.0,1399,47.0,65.0,48.0,51.0,...,46.0,57.0,41.0,43.0,44.0,40.0,54.0,44.0,725000.0,0
201132,24,68,70,925000.0,5000.0,1604,49.0,71.0,50.0,56.0,...,56.0,65.0,48.0,52.0,47.0,48.0,61.0,47.0,925000.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235266,17,65,86,975000.0,6000.0,903,25.0,26.0,26.0,23.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,975000.0,1
237692,17,65,84,1100000.0,15000.0,1677,78.0,47.0,83.0,79.0,...,62.0,56.0,63.0,64.0,59.0,63.0,58.0,59.0,1100000.0,1
216321,22,64,71,625000.0,23000.0,1662,64.0,61.0,71.0,63.0,...,59.0,51.0,62.0,62.0,60.0,62.0,51.0,60.0,625000.0,1
229195,19,64,81,875000.0,8000.0,1682,61.0,47.0,68.0,81.0,...,67.0,63.0,62.0,64.0,57.0,62.0,62.0,57.0,875000.0,1
211593,22,64,71,550000.0,21000.0,1523,67.0,75.0,71.0,69.0,...,54.0,61.0,51.0,55.0,48.0,53.0,61.0,48.0,550000.0,1
240311,19,64,73,500000.0,10000.0,959,33.0,16.0,36.0,49.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,500000.0,1
237595,19,63,79,700000.0,7000.0,1548,69.0,56.0,59.0,64.0,...,51.0,55.0,53.0,55.0,50.0,55.0,61.0,50.0,700000.0,1
234799,21,63,71,475000.0,8000.0,1643,66.0,63.0,61.0,68.0,...,62.0,62.0,59.0,60.0,56.0,59.0,61.0,56.0,475000.0,1
229194,18,63,80,675000.0,6000.0,1656,79.0,52.0,76.0,81.0,...,54.0,56.0,57.0,60.0,56.0,60.0,62.0,56.0,675000.0,1
230774,19,63,79,725000.0,8000.0,1429,62.0,49.0,48.0,55.0,...,48.0,58.0,43.0,46.0,45.0,43.0,57.0,45.0,725000.0,1
234371,21,63,71,400000.0,6000.0,841,33.0,22.0,29.0,24.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,400000.0,1
222104,19,63,83,725000.0,8000.0,1395,52.0,52.0,58.0,52.0,...,50.0,58.0,44.0,47.0,45.0,45.0,56.0,45.0,725000.0,1
236467,19,63,78,725000.0,7000.0,1391,55.0,56.0,66.0,64.0,...,43.0,54.0,39.0,42.0,42.0,40.0,54.0,42.0,725000.0,1
223938,21,63,73,600000.0,14000.0,1565,78.0,40.0,73.0,78.0,...,57.0,46.0,61.0,62.0,56.0,63.0,47.0,56.0,600000.0,1
233164,18,63,81,625000.0,5000.0,1066,44.0,24.0,38.0,40.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,625000.0,1
229670,20,62,74,550000.0,15000.0,1483,70.0,37.0,71.0,62.0,...,49.0,37.0,59.0,55.0,61.0,58.0,40.0,61.0,550000.0,1
223963,18,62,79,575000.0,8000.0,1515,68.0,56.0,63.0,63.0,...,50.0,57.0,48.0,51.0,48.0,49.0,57.0,48.0,575000.0,1
238071,17,62,82,525000.0,8000.0,1549,73.0,59.0,60.0,56.0,...,52.0,56.0,55.0,57.0,55.0,57.0,60.0,55.0,525000.0,1
234795,18,61,73,425000.0,7000.0,1565,65.0,41.0,68.0,66.0,...,57.0,51.0,58.0,59.0,55.0,59.0,51.0,55.0,425000.0,1
231227,19,61,78,500000.0,7000.0,1607,68.0,59.0,76.0,77.0,...,58.0,60.0,56.0,58.0,53.0,57.0,59.0,53.0,500000.0,1
231228,19,61,78,550000.0,8000.0,1643,65.0,51.0,68.0,68.0,...,60.0,56.0,59.0,59.0,56.0,59.0,55.0,56.0,550000.0,1
231354,20,61,69,375000.0,12000.0,1497,67.0,32.0,65.0,51.0,...,54.0,43.0,60.0,60.0,59.0,61.0,47.0,59.0,375000.0,1
230918,17,60,77,375000.0,6000.0,1491,71.0,58.0,53.0,59.0,...,48.0,55.0,47.0,50.0,49.0,49.0,56.0,49.0,375000.0,1
232757,19,60,75,450000.0,7000.0,1553,61.0,48.0,72.0,73.0,...,59.0,53.0,57.0,59.0,52.0,59.0,55.0,52.0,450000.0,1
241160,16,59,79,300000.0,4000.0,1521,64.0,48.0,72.0,74.0,...,57.0,52.0,55.0,58.0,49.0,56.0,53.0,49.0,300000.0,1
229718,18,59,75,325000.0,7000.0,1563,68.0,43.0,65.0,70.0,...,58.0,52.0,57.0,58.0,54.0,58.0,52.0,54.0,325000.0,1
233052,18,58,74,260000.0,7000.0,1402,71.0,32.0,67.0,65.0,...,51.0,41.0,56.0,57.0,52.0,57.0,45.0,52.0,260000.0,1
224951,19,56,73,170000.0,6000.0,1495,63.0,65.0,54.0,69.0,...,52.0,56.0,49.0,51.0,49.0,49.0,55.0,49.0,170000.0,1
231032,18,53,72,110000.0,5000.0,1484,72.0,48.0,60.0,64.0,...,51.0,49.0,52.0,54.0,50.0,53.0,53.0,50.0,110000.0,1
233047,17,47,73,60000.0,5000.0,1132,57.0,45.0,44.0,64.0,...,35.0,42.0,32.0,35.0,32.0,32.0,43.0,32.0,60000.0,1

# Logistic regression model

In [148]:
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split

In [150]:
classifier = LogisticRegression(random_state=0)

In [167]:
model = classifier.fit(X_train, y_train)

In [169]:
model.score(X_train, y_train)

0.99228806351006527

ID
20801     1
158023    1
190871    1
176580    1
167495    1
188545    1
193080    0
183277    1
182521    1
167664    0
155862    1
192985    1
192119    1
184941    0
177003    1
173731    1
153079    1
138956    0
1179      0
211110    0
200389    0
194765    0
189509    1
188567    0
184344    0
183907    1
182493    0
178603    1
176635    0
167948    0
         ..
221669    0
239079    0
238833    0
225778    0
231928    0
240381    0
236807    0
237859    0
225319    0
236597    0
233047    1
236425    0
238217    0
238985    0
238219    0
238477    0
231824    0
237974    0
236954    0
231107    0
240325    0
238306    0
240403    0
240404    0
235352    0
237463    0
11728     0
231381    0
238813    0
238308    0
Name: label, dtype: int64

In [171]:
df_train.groupby('label').count()

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Acceleration,...,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST,temp
label,,,,,,,,,,,,,,,,,,,,,
0,17465,17465,17465,17465,17465,17465,17465,17465,17465,17465,...,17465,17465,17465,17465,17465,17465,17465,17465,17465,17465
1,170,170,170,170,170,170,170,170,170,170,...,170,170,170,170,170,170,170,170,170,170